#main{
    width: 100px;
    height: 100px;
}

@media only screen and (max-width: 600px) {
    #main {
        width: 30px;
        height: 30px;
    }
}


#box{
    width: 300px;
    height: 300px;
    background-color: blue;
}


@media only screen and (max-width: 600px) {
    #box { 
        width: 100px;
        height: 100px;
        background-color: red;
    }
} 


#text{
    background-color: green;
    width: 200px;
    height: 200px;
}

@media  screen and (max-width: 600px) {
    #text{
      color:yellow;
    }
  }

  #forest { width: 40px; height: 30px;
    display: none;
  }
  
  
  @media only screen and (max-width:600px){
    #forest {width: 100px; height: 200px; display: block; }
  }
  
  