#main{
    width: 100px;
    height: 100px;
}

@media only screen and (max-width: 600px) {
    #main { 
        width: 100px;
        height: 100px;
    }
}

#box{
    width: 300px;
    height: 300px;
    background-color: blue;
}


@media only screen and (min-width: 600px) {
    #box { 
        width: 100px;
        height: 100px;
        background-color: blue;
    }
} 

#text{
    background-color: green;
    color: green;
    width: 500px;
    height: 500px;
  }
  
  @media  screen and (min-width: 600px) {
    #text {
      color:white;
    }
}


#moon{
  
    width: 600px;
    background-repeat:no-repeat;
    background-image: url('moon2.jfif'); ;
    
  }
  
  @media only screen and (max-width: 600px) {
    #moon {display: none;}
  }  